<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/">
	<sitecore>
		<pipelines>
			<httpRequestBegin role:require="Standalone or ContentDelivery">
				<processor patch:instead="*[@type='Sitecore.Pipelines.HttpRequest.LanguageResolver, Sitecore.Kernel']" type="Web.Foundation.LanguageSelectorForm.Pipelines.CustomCountryLanguageResolver, Web.Foundation.LanguageSelectorForm" resolve="true" />
			</httpRequestBegin>
		</pipelines>
	</sitecore>
</configuration>